{% extends 'task/layout.html' %}
{% block body %}

<div class="create-user-container">
    <h1>Create User</h1>
    <section class="create-user-detail">
        <form method="post" action="{% url 'user:create_user' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ><br>

            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" maxlength="10"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" class="create-user-btn">Create</button>
        </form>
    </section>
</div>

{% endblock %}