{% extends 'task/layout.html' %}
{% load static %}
{% block body %}

<div class="view-profile-container d-flex justify-content-center align-items-center">
    <div>
        <div class="profile-header mb-4">
            <h1 class="text-center">Profile</h1>
        </div>
        <div class="profile-info">
            <div class="mb-3">
                <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}
            </div>
            <div class="mb-3">
                <strong>Email:</strong> {{ user.email }}
            </div>
            <div class="mb-3">
                <strong>Phone Number:</strong> {{ phone_number }}
            </div>
            <div class="mb-3">
                <strong>Role:</strong> {{ role_id }}
            </div>
        </div>
        <div class="options-btn mt-4 d-flex justify-content-center">
            <a href="{% url 'user:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            <a href="{% url 'user:change_pw' %}" class="btn btn-secondary">Change Password</a>
        </div>
    </div>
</div>

{% endblock %}