{% extends 'task/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/task/css/style.css">
{% endblock %}

{% block body %}

<div class="container">
    <h1>Loop Management</h1>
    {% if frame %}
    <div class="m-4">
        <div class="d-flex upload-header">
            <p class="step">Step 4</p>
            <p class="m-2">Custom loop</p>
        </div>
        <p>&emsp;&ensp;Fill loop's datas and click "add loop's data" to add or update loop. Click "Confirm Creation" when every things done.</p>
    </div>
    <div class="custom-loop m-5">
        <img id ="capframe" src="{{ MEDIA_URL }}/{{ frame }}" alt="car capture frame"><br>
        
        <!-- For putting loop list -->
        {% if loops %}
        <div class="report-table">
            <table class="table table-hover">
                <tr>
                    <th> Id</th>
                    <th> Loop Name </th>
                    <th> Point 1</th>
                    <th> Point 2</th>
                    <th>Point 3</th>
                    <th>Point 4</th>
                    <th>Delete</th>
                </tr>
                {% for loop in loops %}
                <tr>
                    <td>{{loop.id}}</td>
                    <td>{{loop.name}}</td>
                    {% for point in loop.points %}
                        <td>({{point.x}}, {{point.y}})</td>
                    {% endfor %}
                    <td> <a href="{% url 'task:delete_loop' task_id loop.id %}"> Delete </a> </td>
                {% endfor %}
                </tr>
            </table>
        </div>
        {% endif %}

        <a href="{% url 'task:clear_loop' task_id %}"><button class="clear-loop-btn">Clear all loop</button></a>
        <a href="{{loop_path}}" download="{{loop_path}}"><button class="download-btn">download loop's data</button></a>

        <form method="POST" action="{% url 'task:custom_loop' task_id %}" id="loopForm" class="mt-2">
            {% csrf_token %}
            <br>
            <div class="d-flex name m-0">
                <label for="name" class="mt-2">Name:</label>
                <input type="text" id="name" name="name" class="form-control name" required>
            </div><br>

            <div class="d-flex m-0 id">
                <label for="id" class="id-label">ID:</label>
                <input type="text" id="id" name="id" class="form-control id" required>
            </div><br>
            <p>&emsp;&ensp;Generate a new loop by entering a new id.</p>
            <p>&emsp;&ensp;Edit a loop by entering that loop's id.</p>


            <div class="point mt-5 d-flex">
                <b>Point:</b><br>
                <div class="point-left mt-4">
                    <div class="d-flex mt-3 x1">
                        <label for="x1" class="m-2">x1:</label>
                        <input type="number" id="x1" name="x1" class="form-control x1" required>
                    </div>

                    <div class="d-flex mt-3 x2">
                        <label for="x2" class="m-2">x2:</label>
                        <input type="number" id="x2" name="x2" class="form-control x2" required>
                    </div>

                    <div class="d-flex mt-3 x3">
                        <label for="x3" class="m-2">x3:</label>
                        <input type="number" id="x3" name="x3" class="form-control x3" required>
                    </div>

                    <div class="d-flex mt-3 x4">
                        <label for="x4" class="m-2">x4:</label>
                        <input type="number" id="x4" name="x4" class="form-control x4" required>
                    </div>
                </div>

                <div class="point-right mt-4">
                    <div class="d-flex mt-3 y1">
                        <label for="y1" class="m-2">y1:</label>
                        <input type="number" id="y1" name="y1" class="form-control y1" required>
                    </div>

                    <div class="d-flex mt-3 y2">
                        <label for="y2" class="m-2">y2:</label>
                        <input type="number" id="y2" name="y2" class="form-control y2" required>
                    </div>

                    <div class="d-flex mt-3 y3">
                        <label for="y3" class="m-2">y3:</label>
                        <input type="number" id="y3" name="y3" class="form-control y3" required>
                    </div>

                    <div class="d-flex mt-3 y4">
                        <label for="y4" class="m-2">y4:</label>
                        <input type="number" id="y4" name="y4" class="form-control y4" required>
                    </div>
                </div>
            </div>

            <div class="plot-direction mt-4">
                <p class="mb-2">direction of plotting</p>
                <label>
                    <input type="radio" name="clock-choice" value="counterclockwise" checked> counterclockwise
                </label>
                <br>
                <label>
                    <input type="radio" name="clock-choice" value="clockwise"> clockwise
                </label>
            </div>

            <button type="submit" class="custom-loop submit-btn">Add loop's data</button>
        </form>
    </div>

    <div class="d-flex loop-custom-options">
        <a href="{% url 'task:schedule' task_id %}"><button class="all-done-btn m-4">Confirm Creation</button></a>
    </div>

    {% endif %}
</div>

{% endblock %}