<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- main css -->
    <link rel="stylesheet" href="../../static/report/style.css">
    <title>Report</title>
</head>

<body>
    <!-- ============ navbar ============ -->
    <div class="d-flex align-items-center fixed-top shadow nav" style="min-height: 56px; z-index: 5;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- search -->
                <div class="col d-flex align-items-center">
                    <!-- logo -->
                    <a href="#" class="navbar-brand" style="color: #ffffff; font-size:25px; font-weight: 500">
                        Smart Traffic Monitoring
                    </a>
                </div>
                <!-- menus -->
                <div class="col d-flex align-items-center justify-content-end" style="color: #3F4682;">
                    <!-- profile -->
                    <div class="d-flex align-items-center justify-content-center p-1 mx-2"
                        style="width: 38px; height: 38px; object-fit: cover">
                        <a href="#"><i class="fa-solid fa-house"></i></a>
                    </div>
                    <!-- notifications -->
                    <div class="d-flex align-items-center justify-content-center p-1 mx-2"
                        style="width: 38px; height: 38px; object-fit: cover">
                        <a href="#"><i class="fa-solid fa-bell"></i></a>
                    </div>
                    <!-- hamburger menu-->
                    <div class="d-flex align-items-center justify-content-center p-1 mx-2"
                        style="width: 38px; height: 38px; object-fit: cover" id="hamburger-menu"
                        data-bs-toggle="dropdown" aria-expanded="false" type="button" data-bs-auto-close="outside">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <!-- hamburger dropdown -->
                    <ul class="dropdown-menu shadow p-3 m-1" aria-labelledby="hamburger-menu">
                        <div class="hamburger-dropdown">
                            <div>
                                <a href="{% url 'user:profile' %}" class="d-flex text-decoration-none p-1">
                                    <i class="fa-solid fa-user m-1"></i>
                                    <p class="m-0">View Profile</p>
                                </a>
                            </div>
                            <div>
                                <a href="{% url 'user:login' %}" class="d-flex text-decoration-none p-1">
                                    <i class="fa-solid fa-right-from-bracket m-1"></i>
                                    <p class="m-0">Logout</p>
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ============ task ============ -->
    <div class="task-area">
        <div class="d-flex task-menu">
            <div class="recent-task">RECENT TASK</div>
            <form class="d-flex search-task">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <a class="create-task" href="#">CREATE TASK</a>
        </div>
    </div>
    <!-- ============= table ============= -->
    <div class="report-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">DATE MODIFY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
                <tr>
                    <a href="#">
                        <td>1/1/1</td>
                        <td>แยกรินคำ</td>
                        <td>XXX, YYY</td>
                        <td>PROCESSING</td>
                        <td>2/2/2566 (16.00)</td>
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>