{% extends 'task/layout.html' %}
{% block body %}

<div class="container mt-5">
    <h1 class="mb-4">Task Details</h1>
    

    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ task.name }}" readonly>
    </div>
    
    <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ task.location }}" readonly>
    </div>
    

    <div class="mb-5">
        <h3>Input Video</h3>
        <video width="100%" height="auto" controls>
            <source src="{{ task.input_vdo }}" type="audio/mp4">
        </video>
    </div>
    
    {% if output_vdo %}
    <div class="mb-5">
        <h3>Output Video</h3>
        <video width="100%" height="auto" controls>
            <source src="{{ output_vdo }}" type="audio/mp4">
        </video>
    </div>
    {% endif %}
    

    {% if rows %}
    <div class="mb-5">
        <h3>Data Table</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Loop</th>
                    <th>Track</th>
                    <th>Vehicle</th>
                    <th>Time</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.loop }}</td>
                    <td>{{ row.track }}</td>
                    <td>{{ row.vehicle }}</td>
                    <td>{{ row.time }}</td>
                    <td>{{ row.direction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    

    {% if report_url %}
    <div class="mb-5">
        <a href="{{ report_url }}" class="btn btn-primary" download>Download Report</a>
    </div>
    {% endif %}
    

    <div class="mb-5">
        <h3>Map</h3>
        <iframe src="http://127.0.0.1:8000/map/" width="100%" height="400"></iframe>
    </div>
    

    {% if weather.temp != 0 %}
    <div class="mb-5">
        <h3>Current Weather</h3>
        <p>Location: {{ weather.location }}</p>
        <p>Temperature: {{ weather.temp }} &#8451;</p>
        <p>Weather: {{ weather.weather_report }}</p>
        <p>Wind Speed: {{ weather.wind_speed }} m/s</p>
        <p>Clouds: {{ weather.clouds }}%</p>
        <p>Humidity: {{ weather.humidity }}%</p>
    </div>
    {% endif %}
    

    <div class="mb-5">
        <label for="note" class="form-label">Note:</label>
        <input type="text" class="form-control" id="note" name="note" value="{{ task.note }}" readonly>
    </div>
    

    <div class="d-flex justify-content-end">
        <a href="{% url 'task:update_task' task.id %}" class="btn btn-success me-2">Update Task</a>
        <a href="{% url 'task:delete_task' task.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>

{% endblock %}
