{% extends 'homepage/layout.html' %}
{% load static %}
{% block body %}

<body>

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 d-flex">
                            <div>
                                <h1>Get Information</h1>
                                <body>
                                    <p>Use drone to detect your interest area!</p>
                                    <p>Create Task , Create Loop</p>
                                    <p>Wait for Result!</p>
                                    <div class="d-flex submit-area">
                                        <!--!button type="submit" class="submit-btn"><a href="{% url 'task:index' %}" class="submit-btn">Report</a></button>
                                        <button type="submit" class="submit-btn"><a href="{% url 'task:create_task' %}" class="submit-btn">Create task</a></button-->
                                    </div>                                    
                                </body>
                            </div>
                            <div class='image'>
                                <img src="../../static/img/drones2.png" alt="drones" style="padding: 10px; transform: scale(1.5);" >
                            </div>    
                        </div>
                    </div>
                </div>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->


    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-contact-us">

            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div id="member">
                            <h2>Team Members</h2>
                            <body>
                                <ul >
                                    <li>6410615048 - ณัฐชนน จันทร์รุ่งโรจน์</li>
                                    <li>6410615063 - ธนากร ทองย้อย</li>
                                    <li>6410685082 - กิตติศักดิ์ สุดแดน</li>
                                    <li>6410685124 - ธนกฤต อิ้ววังโส</li>
                                    <li>6410685199 - ปริญญ์ ยิ้มรุ่งเรือง</li>
                                    <li>6410685207 - ปริวรรต สวัสดิ์ชาติ</li>
                                </ul>
                            </body>
                            <br>
                            <br>
                            <h3>Link</h3>
                            <body>
                                <ul>
                                <li><a href="https://github.com/6410685082/CN332_AAA.git">Visit github</a></li>
                                </ul>
                            </body>
                        </div>
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-contact-us -->


    </main><!-- /#main -->
{% endblock %}