@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #ffffff;
}

.view-task-btn, .update-task-btn{
    color: #ffffff;
    background-color: #4044ed;
    padding: .4rem .7rem .6rem .7rem;
    border-radius: 5px;
}

.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}

.bg-gray {
    background-color: #f0f2f5;
}

.nav {
    background: #4044ed;
}

.dropdown-menu {
    background: #4044ed;
}

.notification-dropdown{
    color: #ffffff;
}

.unread strong:first-of-type::after{
    content: "";
    background-color: #eb5050;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.col a {
    color: #ffffff;
}

i {
    color: #ffffff;
}

.task-area {
    margin-top: 7rem;
}

.recent-task {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.search-task {
    margin: auto;
    width: 50%;
}

.create-task {
    background: #4044ed;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.create-task:hover {
    color: #ffffff;
}

.report-table {
    margin: 1rem;
}

tr {
    text-align: center;
}

td {
    cursor: pointer;
}

.container {
    padding: 0;
    margin: 6rem;
}

.upload-header p,
.information-header p {
    font-weight: 500;
}

.step {
    background: #4044ed;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: 500;
}

.upload-file {
    margin-left: 0.5rem;
}

.new-info-box, .location, .description {
    margin-left: 1.3rem;
}

.name-box, .select-location {
    max-height: 30px;
    margin-left: 1rem;
}

.description-box {
    height: 100px;
    margin-left: 1rem;
}

.save-preset-check {
    padding-left: 1rem;
}

.name {
    margin: 0.5rem;
}

.location, .description {
    margin: 1.5rem;
}

.submit-area {
    justify-content: center;
}

.submit-area button {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.submit-area .submit-btn {
    margin: 1rem;
    background: #4044ed;
    color: #ffffff;
    font-weight: 500;
}

.submit-area .cancel-btn {
    margin: 1rem;
    background: #eb5050;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}


/*----- change password style -----*/

.change-pw {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: 600;
    font-size: 20px;
}

.change-pw-head .head{
    font-weight: 700;
}

.change-pw form input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 3rem;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.change-pw .alert button{
    color: #ffffff;
    background: #eb5050;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.change-pw .submit-area button {
    color: #ffffff;
    background: #4044ed;
    border-radius: 5px;
    border: none;
    margin: auto;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

/*----- view profile style -----*/
.view-profile-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10rem;
}
.view-profile-container h1{
    font-weight: 500;
    font-size: 50px;
}
.profile, .edit-information{
    font-size: 20px;
}
.options-btn{
    margin-top: 100%;
}
.options-btn a{
    text-decoration: none;
    color: #ffffff;
    background: #4044ed;
    padding: .7rem 1rem;
    border-radius: 20px;
}
.options-btn .change-pw-btn{
    margin-left: 2rem;
}

/*----- create user style -----*/
.create-user-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10rem;
}
.create-user-container h1{
    font-size: 50px;
    font-weight: 500;
}
.create-user-detail{
    margin-top: 2rem;
}
.create-user-btn{
    color: #ffffff;
    background: #4044ed;
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;
    margin-top: 4rem;
}

/*----- edit profile style -----*/
.edit-profile-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10rem;
}
.edit-profile-container h1{
    font-size: 50px;
    font-weight: 500;
}
.edit-profile-detail{
    margin-top: 2rem;
    font-size: 20px;
}
.edit-options-btn{
    margin-top: 2rem;
}
.reset-btn, .save-btn{
    background: #4044ed;
    border: none;
    color: #ffffff;
    padding: .7rem 1.2rem;
    border-radius: 30px;
}
.save-btn{
    margin-left: 2rem;
}

/*--------- custom loop ---------*/
.clear-loop-btn{
    margin-top: 1rem;
    padding: .5rem .7rem;
    border-radius: 20px;
    background: #eb5050;
    color: #ffffff;
    font-weight: 500;
    border: none;
}
.name input, .id input{
    width: 50%;
}
.point input{
    width: 30%;
}
.plot-direction label{
    margin-left: 1.5rem;
}
.custom-loop .submit-btn{
    margin-top: 1rem;
    padding: .5rem .7rem;
    border-radius: 20px;
    background: #4044ed;
    color: #ffffff;
    font-weight: 500;
    border: none;
}
.download-btn, .all-done-btn{
    margin-top: 1rem;
    padding: .5rem .7rem;
    border-radius: 20px;
    background: #4044ed;
    color: #ffffff;
    font-weight: 500;
    border: none;
}
.name, .id {
    font-weight: 700;
}
.id-label{
    margin-right: 0.4rem;
}

/*------ notification style -------*/
.notification-area{
    margin-top: 6rem;
    text-align: center;
}
.notification-area h1{
    font-weight: 600;
}
.notification-table {
    margin: 2rem;
}
tbody .unread td{
    content: "";
    font-weight: 700;
}
.notification .actions-btn a{
    font-size: 16px;
    font-weight: 500;
    padding: 0.3rem 1rem;
}