@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}

.bg-gray {
    background-color: #f0f2f5;
}

.nav {
    background: #4044ed;
}

.dropdown-menu {
    background: #4044ed;
}

.col a {
    color: #ffffff;
}

i {
    color: #ffffff;
}

.task-area {
    margin-top: 7rem;
}

.recent-task {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.search-task {
    margin: auto;
    width: 50%;
}

.create-task {
    background: #4044ed;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.create-task:hover {
    color: #ffffff;
}

.report-table {
    margin: 1rem;
}

tr {
    text-align: center;
}

td {
    cursor: pointer;
}

.upload-file {
    display: flex;
}

.step-1 {
    background: #4044ed;
    color: #ffffff;
}